* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#diferente{
    opacity: 1 !important;
    background: #ff7b00 !important;
}

.navbar {
    background: #ff7b00a3 !important;
}

.offcanvas-title {
    color: #ff7b00a3;
}

.navbar-brand {
    background-color: #ff7b00a3 ;
    font-family: "josefins";
}

li a {
    text-decoration: none !important;
    color: black;
}


.logo-img {
    /* width: 175px !important; */
    height: 70px;
    padding: 2px;
    flex-shrink: 0;
}

.logo-img:hover {
    scale: 1.1 !important;
}

.escolha_container {
    margin-top: 10.6vh;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 90vh;
    overflow: hidden;
}

.ladoD {
    display: flex;
    position: relative;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    padding: 10vh;
    z-index: 1;
    transition: 0.5s;
    background-size: cover;
    flex-direction: column;
    box-sizing: border-box;

    /* background-image: url(assents/papel-de-parede-para-restaurante-cozinha-lavavel-ssca-026-adesivo-para-parede.jpg); */
}

.ladoE {
    display: flex;
    position: relative;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    padding: 10vh;
    z-index: 0;
    transition: 0.5s;
    flex-direction: column;
    box-sizing: border-box;
    background-size: cover;
    /* background-image: url(assents/papel-de-parede-para-restaurante-cozinha-lavavel-ssca-047-adesivo-de-parede-para-cozinha.webp); */
}

.ladoD {
    background-color: #F1D7C9;

}

.ladoE {
    background-color: #EED4FE;
}

.conteudo {
    font-size: 2.31vh;
    font-family: "Josefin Sans", sans-serif;
    height: auto;
}

/* botão escolha das receitas */
.buttonReceitas {
    text-align: center;
    margin-top: 5vh;
}

/* botão escolha das receitas, hyperlink */
.buttonReceitas a {
    color: white;
    padding: 2vh;
    background-color: #393E77;
    text-decoration: none;
    border-radius: 10px;
    z-index: 2;
}

.conteudo h1,
p {
    margin-bottom: 20px;
    text-align: center;
}

.container_imagemD {
    position: absolute;
    bottom: 76px;
    transition: all 1s;
    left: 6%;
    width: 100%;
    height: 50%;
    /* background-color: turquoise; */
    z-index: 0;
    overflow: hidden;
    display: flex;
    justify-content: end;
}

.container_imagemE {
    position: absolute;
    /* background-color: black; */
    bottom: 73px;
    right: 6%;
    transition: 1s;
    width: 100%;
    height: 50%;
    z-index: 0;
    overflow: visible;
    display: flex;
}

.container_imagemD img {
    width: 73%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
}

.container_imagemE img {
    width: 66%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
    z-index: -1;
}


.ladoD:hover {
    width: 100%;
    transition: all 1s;
    z-index: 1;
}

.ladoE:hover {
    width: 100%;
    transition: all 1s;
    z-index: 1;
}

.pictureD img {
    position: absolute;
    margin-top: 8vh;
    width: 53%;
    margin-left: -21vh;
}

picture img {
  position: absolute;
  margin-top: 8vh;
  width: 58%;
  margin-left: -21vh;
}

.imagemDentro {
    width: 100%;
}

.imagemDentro img {
    width: 100%;
}


.pictureE img {
  position: absolute;
    margin-top: 30vh;
    width: 66%;
    margin-left: 28vh;
}

.pictureLdConteudo1 {
    position: absolute;
    width: 100%;
    margin-top: -15vh;
    left: 80%;
}

.pictureLdConteudo1 img {
    width: 70%;
}

.pictureLdConteudo {
    position: absolute;
    width: 100%;
    margin-top: -15vh;
}

.pictureLdConteudo img {
    width: 52%;
    left: -50px;
}


/* PARTE DO YURI - RECEITAS QUENTES */
.containerCerto {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 90vh;
    overflow: hidden;
}

.containerP {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.containerP .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3) {
    left: 50%;
}

.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}

.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0 -50%);
    font-family: system-ui;
    display: none;
}

.slide .item:nth-child(2) .content {
    display: block;
}

.content .nome {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
    -webkit-text-stroke: 1px black;
}

.content .desc {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;

}

.content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover {
    background: #ababab;
    color: #fff;
}

/* PARTE DO YURI - RECEITAS GELADAS */

.containerCerto2 {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 90vh;
  overflow: hidden;
}

.container2{
  /* position: absolute; */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: auto;
  background: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
}

.container2 .slide2 .item2{
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide2 .item2:nth-child(1),
.slide2 .item2:nth-child(2){
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.slide2 .item2:nth-child(3){
  left: 50%;
}

.slide2 .item2:nth-child(4){
  left: calc(50% + 220px);
}

.slide2 .item2:nth-child(5){
  left: calc(50% + 440px);
}

.slide2 .item2:nth-child(n + 6){
  left: calc(50% + 660px);
  opacity: 0;
}

.item2 .content2{
position: absolute;
top: 50%;
left: 100px;
width: 300px;
text-align: left;
color: #eee;
transform: translate(0 -50%);
font-family: system-ui;
display: none;
}

.slide2 .item2:nth-child(2) .content2{
  display: block;
}

.content2 .nome2{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
  -webkit-text-stroke: 0.7px black;
}

.content2 .desc2{
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content2 button{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate{
  from{
      opacity: 0;
      transform: translate(0 100px);
      filter: blur(33px);
  }

  to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}

.button2{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button2 button{
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}

.button2 button:hover{
  background: #ababab;
  color: #fff;
}

/* PARTE DO MARCELO - CHEFS */

.corpo {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  min-height: 100vh;
  background: url(Imagens/backgroud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease 0.9s;
}

.navbar {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.navbar .nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar .nav-list li {
  margin: 0 15px;
}

.navbar .nav-list a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar .nav-list a:hover {
  color: orangered;
}

.header {
  margin-top: 80px;
  text-align: center;
}

.header h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
}

.card-list .card-item {
  height: auto;
  user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  backdrop-filter: blur(10px); /* Menos efeito de desfoque */
  background: rgba(255, 255, 255, 0.5); /* Diminuir a opacidade do fundo */
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-list .card-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.6); /* Ajuste para hover também */
}

.card-list .card-item .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 4px solid orangered;
  padding: 4px;
}

.card-list .card-item .user-name {
  font-size: 26px;
  color: black;
  font-weight: 500;
}

.card-list .card-item .user-profession {
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin: 14px 0 40px;
}

.card-list .card-item .message-button {
  font-size: 16px;
  padding: 12px 40px;
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  background: orangered;
  border: 2px solid transparent;
  transition: background 0.3s, transform 0.3s;
}

.card-list .card-item .message-button:hover {
  background: #ff5722;
  border: 2px solid #fff;
  color: #fff;
  transform: translateY(-2px);
}

.slider-wrapper .swiper-pagination-bullet {
  background: orangered;
  height: 12px;
  width: 12px;
  opacity: 0.6;
  transition: background 0.3s;
}

.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #ff5722;
}

.slider-wrapper .swiper-button-next,
.slider-wrapper .swiper-button-prev {
  color: orangered;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, color 0.3s;
}

.slider-wrapper .swiper-button-next:hover,
.slider-wrapper .swiper-button-prev:hover {
  background: orangered;
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 1440px) {
  .slider-wrapper {
    margin: 0 40px 40px;
    
  }
}

@media (max-width: 1024px) {
  .header h1 {
    font-size: 2.5rem;
    
  }

  .slider-wrapper {
    margin: 0 20px 40px;
  }
  
  .card-list .card-item {
    padding: 25px;
  }
  
  .card-list .card-item .user-name {
    font-size: 22px;
  }
  
  .card-list .card-item .user-profession {
    font-size: 14px;
  }
  
  .card-list .card-item .message-button {
    padding: 10px 30px;
  }
}

@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 30px;
  }
  
  .card-list .card-item {
    padding: 20px;
  }
  
  .card-list .card-item .user-name {
    font-size: 20px;
  }
  
  .card-list .card-item .user-profession {
    font-size: 12px;
  }
  
  .card-list .card-item .message-button {
    padding: 8px 25px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 2rem;
  }
  
  .card-list .card-item {
    padding: 15px;
  }
  
  .card-list .card-item .user-name {
    font-size: 18px;
  }
  
  .card-list .card-item .user-profession {
    font-size: 10px;
  }
  
  .card-list .card-item .message-button {
    padding: 6px 20px;
  }
}

/* PARTE GUILHERME - CADASTRO */

.containerC{
  width: 100%;
  height: 100vh;
  background-image: url(img/backgroud\ 1.png);
  align-items: center;
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #D9D9D9;
  padding: 3rem;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}



.form-header h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #FF5900;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 0.9rem;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #FF5900;
}

.input-box label,
.gender-title h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}

.gender-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 .5rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.35rem;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}

.continue-button button {
  width: 25%;
  align-items: center;
  border: none;
  background-color: #FF7B34;
  padding: 0.62rem;
  margin-left: 38%;
  
  border-radius: 5px;
  cursor: pointer;
}

.continue-button button:hover {
  background-color: #FF5900;
}

.continue-button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1330px) {
  .form-image {
      display: none;
  }
  .container {
      width: 50%;
  }
  .form {
      width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .container {
      width: 90%;
      height: auto;
  }
  .input-group {
      flex-direction: column;
      z-index: 5;
      padding-right: 5rem;
      max-height: 10rem;
      overflow-y: scroll;
      flex-wrap: nowrap;
  }
  .gender-inputs {
      margin-top: 2rem;
  }
  .gender-group {
      flex-direction: column;
  }
  .gender-title h6 {
      margin: 0;
  }
  .gender-input {
      margin-top: 0.5rem;
  }
}

footer{
  padding: 1vh;
  font-family: "Josefin Sans", system-ui;
  width: 100%;
  height: 40vh;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
}

.footerD{
  display: flex;
  flex-direction: column;
  color: #ff7b00;
  text-align: center;
  width: 30%;
  height: 79%;
}

.h22{ 
  color: #ff7b00;
} 

.h33{
  color: #ff7b00;
}

.footerM{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  height: 90%;
}

.footerE{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  height: 90%;
}

.footerE a{
color: black;
text-decoration: none;
font-size: 2vh;
}

iframe{
  width: 100%;
  height: 90%;
}