
@font-face {
    font-family: 'josefins';
    src: url('./fonts/JosefinSans-VariableFont_wght.ttf') ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'josefins' !important;
}

body {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}

img{
    scale: 1.4 !important;
}

#a{
    background: rgba(255, 123, 0, 2) !important;
}

.navbar-brand {
    font-family: "josefins";
}

li a{
    text-decoration: none !important;
    color: black;
}


.logo-img {
    /* width: 175; */
    height: 50px;
    padding: 2px;
    flex-shrink: 0;
}

.logo-img:hover {
    scale: 1.5 !important;
}


  .container1 {
    position: relative;
    max-height: 100vh;
    width: 100%;
    min-height: 100vh;
    flex-shrink: 0;
    background: linear-gradient(
      180deg,
      #ef9d72 0%,
      #ea9d74 35%,
      #a09996 91%
      );
      /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    }
    .bg-rounded-orange{
      position: absolute;
      background: rgba(255, 123, 0, 2);
      left:800px;
      top: 300px;
      width: 60%;
      height: 1600px;
      max-height: 100vh;
      border-radius: 1044px;
      z-index: 0;
    }

    .icons{
      width: 87%;
      height:70vh;
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: end;
      padding: 10px;
    }

    .icons a {
      color: #000;
      text-decoration: none;
    }

    .icons div{
      width: 10%;
      padding: 15px;
    }

    .icons div:hover{
      scale: 1.1;
    }
    
  .h1-hero-section{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}


.h1-hero-section h1{
    color: #000;
    text-align: center;
    font-family: "josefins";
    /* font-size: 64px; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }


  .plate1 {
    position: absolute;
    left: 750px;
    top: 310px;
    z-index: 1;
    width:320px;
    height:320px;
  }

  .plate2 {
    position: absolute;
    left: 1090px;
    top: 150px;
    z-index: 1;
    width: 300px;
    height: 300px;
  }

  .plate3 {
    position: absolute;
    left: 630px;
    top: 656px;
    z-index: 1;
    width: 340px;
    height: 340px;
  }

  .plate4 {
    position: absolute;
    left: 1390px;
    top: 220px;
    z-index: 1;
    width: 390px;
    height: 390px;
  }

  .plate5 {
    display: none;
    position: absolute;
    left: 1390px;
    top: 220px;
    z-index: 1;
    width: 320px;
    height: 320px;
  }

  .plate-img {
    animation: spin 10s linear infinite;
    animation-play-state: paused;
    transition: opacity 0.4s ease;
    object-fit: contain;
    opacity: 1;
    transform: rotate(0deg);
    filter: blur(2px);
  }

  .plate-img:hover {
    opacity: 1;
    cursor: pointer;
    animation-play-state: running;
    transform: rotate(0deg) scale(1.1);
    filter: blur(0px);
  }

  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0) scale(0.8);
    }
    100% {
      -moz-transform: rotate(360deg) scale(0.8);
    }
  }

  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg) scale(1);
    }
  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg) scale(1);
      transform: rotate(360deg) scale(1);
    }
  }
  


  .container2 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    /* max-width: 100%; */
  }

  .container2 h1{
    font-weight: 500;
  }


.right-side{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .btn-receitas:hover{
    scale: 1.1;
  }

  .information{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .div-button-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .div-button-right a{
    width: 25%;
    height: 56px;
    font-size: 1.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F99A56 !important;
  }

.left-side{
    width: 50%;
    min-height: 100vh;
  }

  .left-side video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }


  .container3 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    /* max-width: 100%; */
  }

  .container3 h1{
    font-weight: 500;
  }

  .right-side-chefs{
    width: 50%;
    min-height: 100vh;
    height: 100vh;
  }

  .right-side-chefs video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .left-side-chefs{
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left-side-chefs .btn{
    font-size: 1.5rem;
  }

.btn-chefs:hover{
    scale: 1.1;
  }

  .container4{
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    max-height: 90vh;
  }

  .img-we{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  .img-we img{
    width: 50%;
    border-radius: 20px;
    height: 300px;
    display: flex;
    object-fit: cover;
    box-shadow: 4px 4px 7px black;
    transition: ease-in 0.2s;
  }

  .group-img:hover{
    transform: scale(1.1);
  }

  .interprise-description{
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .interprise-description em{
    color: rgba(255, 123, 0, 1);
  }


  .interprise-description p {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: start;
    justify-content: center;
  }

  
  /*  paralexx card*/
  
  .container5{
    /* margin-top:; */
    position: relative;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */
    min-height: 100vh;
  }
  
  .container5 h1{
    width: 100%;
    text-align: center;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
  }

  
  .title-equipe-desenvolvimento em{
    color: rgba(255, 123, 0, 1);
  }


  .parralex-car{
    width: 100%;
    height: 100vh;
    flex-direction: row-reverse;

  }
  
  .card-title{
    display: flex;
    width: 55%; 
    height: 180px;
    /* padding: 4px; */
    border-radius: 15px;
    background-color: rgba(255, 255, 255 , 0.5);
    flex-direction: column;
    align-items: start;
    justify-content: end;
  }

  .card-title h1{
    align-items: start !important;
  }
  
  .card-title h1, p{
    color: black !important;
    padding: 5px;
  }
  
  
  .wrap {
    margin: 2rem;
    transform-style: preserve-3d;
    transform: perspective(100rem);
  
    cursor: pointer;
  }
  
  .container {
    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
  
    width: 30rem;
    height: 36rem;
    border: 1px solid var(--background-color);
    border-radius: 1.6rem;
    padding: 4rem;
  
    display: flex;
    align-items: flex-end;
  
    position: relative;
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
    background-position: var(--bX) var(--bY);
    /* background-size: 40rem auto; */
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  
    transition: transform .6s 1s;
  }
  
  .container--1{
    background: url('./imgs/parallex-card/kaique.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  }
  
  .container--2{
    background: url('./imgs/parallex-card/Jefferson\ de\ Jesus\ da\ Silva.jpg');
    background-size:cover;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  }
  
  .container--3{
    background: url('.//imgs/parallex-card/Yuri\ Nascimento\ da\ Silva.jpg');
    background-size: cover;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  }

  .container--4{
    background: url('./imgs/parallex-card/foto\ guilherme.jpg');
    background-size: cover;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  }

  .container--5{
    background: url('./imgs/parallex-card/Marcelo\ Alves\ Tavares.jpg');
    background-size: cover;
    /* box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2); */
  }
  
  .container::before,
  .container::after {
    content: "";
  
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
  
    position: absolute;
    z-index: 2;
  
    opacity: .3;
    transition: .3s;
  }
  
  .container::before {
    top: 2rem;
    right: 2rem;
  
    border-bottom-width: 0;
    border-left-width: 0;
  }
  
  .container::after {
    bottom: 2rem;
    left: 2rem;
  
    border-top-width: 0;
    border-right-width: 0;
  }
  
  .container--active {
    transition: none;
  }
  
  
  
  .container p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size:1.2rem;
    font-weight: 600;
  }
  
  .wrap:hover .container::before,
  .wrap:hover .container::after {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
  }
  
  .abs-site-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: hsla(0, 0%, 0%, .6);
    font-size: 1.6rem;
  }


  .container6{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 40vh;
  }


  footer{
    position: relative;
    font-family: "Josefin Sans", system-ui;
    width: 100%;
    height: 50vh;
    padding: 20px;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
}

.footerD{
    color: #ff7b00;
    text-align: center;
    width: 30%;
    height:100%;
}


h2, h3{
    color: #ff7b00;
}


.footerM{
    color: #ff7b00;
    text-align: center;
    width: 30%;
    height:100%;
}


.container_texto{
    display: flex;
    width: 100%;
    height: 300px;
    margin: 60px 0 60px 0;
    flex-direction: column;
    justify-content: center;
}


.container_texto h3{
    font-size: 1.7rem;
}

.container_texto p{
    font-size: 1.4rem;
    color: black;
}

.footerE{
  color: #ff7b00;
  text-align: center;
  width: 30%;
  height:100%;
}

.conta{
  display: flex;
  width: 100%;
  height: 300px;
  padding-top: 20px;
  /* margin: 60px 0 60px 0; */
  flex-direction: column;
  justify-content: center;
}

.conta a{
  font-size: 1.4rem;
  padding-top: 40px;
  text-decoration: none;
  color: black;
}

.container_texto p{
  font-size: 1.4rem;
  color: black;
}