
@font-face {
    font-family: 'josefins';
    src: url('./fonts/JosefinSans-VariableFont_wght.ttf') ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'josefins' !important;
}

img{
    scale: 1.4 !important;
}

.navbar {
    background: rgba(255, 123, 0, 0.64) !important;
}

.navbar-brand {
    font-family: "josefins";
}

li a{
    text-decoration: none !important;
    color: black;
}


  .logo-img {
    width: 175px !important;
    height: 70px;
    padding: 2px;
    flex-shrink: 0;
  }

  .logo-img:hover{
    scale: 1.5 !important;
  }

  .container1 {
    position: relative;
    max-height: 100vh;
    width: 100%;
    min-height: 100vh;
    flex-shrink: 0;
    background: linear-gradient(
      180deg,
      #ef9d72 0%,
      #ea9d74 35%,
      #a09996 81%
      );
      /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    }
    .bg-rounded-orange{
      position: absolute;
      background: rgba(255, 123, 0, 0.63);
      left:800px;
      top: 300px;
      width: 60%;
      height: 1600px;
      max-height: 100vh;
      border-radius: 1044px;
      z-index: 0;
    }

    .icons{
      width: 87%;
      height:70vh;
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: end;
      padding: 10px;
    }

    .icons a {
      color: #000;
      text-decoration: none;
    }

    .icons div{
      width: 10%;
      padding: 15px;
    }
    
  .h1-hero-section{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}


.h1-hero-section h1{
    color: #000;
    text-align: center;
    font-family: "josefins";
    /* font-size: 64px; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }


  .plate1 {
    position: absolute;
    left: 750px;
    top: 320px;
    z-index: 1;
  }

  .plate2 {
    position: absolute;
    left: 1100px;
    top: 150px;
    z-index: 1;
  }

  .plate3 {
    position: absolute;
    left: 670px;
    top: 720px;
    z-index: 1;
  }

  .plate4 {
    position: absolute;
    left: 1420px;
    top: 295px;
    z-index: 1;
  }

  .plate-img {
    animation: spin 10s linear infinite;
    animation-play-state: paused;
    transition: opacity 0.4s ease;
    object-fit: contain;
    opacity: 1;
    scale: 0.8;
    transform: rotate(0deg);
    filter: blur(2px);
  }

  .plate-img:hover {
    opacity: 1;
    cursor: pointer;
    animation-play-state: running;
    scale: 1;
    filter: blur(0px);
  }

  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0) scale(0.8);
    }
    100% {
      -moz-transform: rotate(360deg) scale(0.8);
    }
  }

  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg) scale(1);
    }
  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg) scale(1);
      transform: rotate(360deg) scale(1);
    }
  }
  


  .container2 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    /* max-width: 100%; */
  }

  .container2 h1{
    font-weight: 500;
  }


.right-side{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .btn-receitas:hover{
    scale: 1.1;
  }

  .information{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .div-button-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .div-button-right button{
    width: 25%;
    height: 56px;
    border-radius: 10px;
    background-color: #F99A56 !important;
  }

.left-side{
    width: 50%;
    min-height: 100vh;
  }

  .left-side video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }


  .container3 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    /* max-width: 100%; */
  }

  .container3 h1{
    font-weight: 500;
  }

  .right-side-chefs{
    width: 50%;
    min-height: 100vh;
    height: 100vh;
  }

  .right-side-chefs video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .left-side-chefs{
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container4{
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    max-height: 60vh;
  }

  .img-we{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  .img-we img{
    width: 50%;
    border-radius: 20px;
    height: 300px;
    display: flex;
    object-fit: cover;
    box-shadow: 4px 4px 7px black;
    transition: ease-in 0.2s;
  }

  .group-img:hover{
    transform: scale(1.1);
  }

  .interprise-description{
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .interprise-description p {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: end;
    justify-content: center;
  }



